@charset "utf-8";

ul {
    padding-left: 0;
}

li {
    list-style: none;
    float: left;
}

li a {
    background-color: #68d6e2;
    display: block;
    width: 200px;
    height: 60px;
    text-align: center;
}